.body {
  background-color: whitesmoke;
  height: 40em;
  position: absolute;
  width: 100%;
}
.tital2 {
  color: #0d6efd;
  text-align: center;
}
.tital2 h1 {
  margin-top: 7%;
}

.login {
  width: 35%;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
  height: auto;
  border-radius: 4%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  margin-top: 20px;
}
.login form {
  margin-top: 40px;
}
.button2 {
  text-align: center;
  padding: 2%;
}
.button2 button {
  width: 100%;
  font-size: 20px;
}
.button2 a {
  text-decoration: none;
}
